.kylie{
    display: flex;
    flex-direction: column;
    text-align: center;
}
img{
    justify-content: center;
}
ul{
    text-align: center;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    gap: 25px;
}